<h3>{{title}}</h3>
<div class="list-group">
    <a class="list-group-item active" href="">All Categories</a>
</div>

<div class="list-group">
    <a class="list-group-item" routerLink="/phones">iPhones</a>
    <a class="list-group-item" routerLink="/accessories">Accessories</a>
    <a class="list-group-item" routerLink="/phone-add">Add iPhone</a>
    <a class="list-group-item" routerLink="/phone-update">Update iPhone</a>
    <a class="list-group-item" routerLink="/phone-delete">Delete iPhone</a>
    <a class="list-group-item" routerLink="/accessory-add">Add Accessory</a>
    <a class="list-group-item" routerLink="/accessory-update">Update Accessory</a>
    <a class="list-group-item" routerLink="/accessory-delete">Delete Accessory</a>
</div>